#runtests form {
	margin-bottom: 10px;
}
#runtests #testconfigs {
	margin-bottom: 50px;
}
#runtests #testconfigs select {
	margin-bottom: 5px;
}
#runtests .testconfig .btn {
	margin-bottom: 5px;
}
#runtests .testconfig .row {
	margin: 5px 0;
}
#runtests #run-buttons button {
	margin-bottom: 5px;
}
#runtests #test-list {
	list-style-type: none;
	padding: 0;
	margin-top: 20px;
}
#runtests .runner {
	border-bottom: 1px solid black;
	padding: 10px 0;
}
#runtests .runner .col-xs-3 {
	padding-left: 0;
}
#runtests .runner .checkbox {
	margin: 0;
}
#runtests .runner button {
	margin-bottom: 5px;
}
#runtests .result .alert {
	margin: 0;
}

#runtests .result button[aria-expanded=true] .glyphicon-chevron-right {
	display: none;
}
#runtests .result button[aria-expanded=false] .glyphicon-chevron-down {
	display: none;
}
